* {
    /* this even hides the bullet from lists!*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --space-for-logo: 200px;
}

/***********************************
            Grid
 ***********************************/

#grid {
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-rows: max(150rem, auto) 80% auto;
    min-height: 100vh;
}

#logo_team{
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
    width: --space-for-logo;
    float: left;
}

/***********************************
            HEADER
 ***********************************/

#topheader {
    background-color: #FFFFFF;
    grid-area: header;        
}

#header {
    margin: 0.5rem 0;
}
#header__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

#header__teamname {
    font-size: 2rem;
    color: darkgoldenrod;
    text-align: center;
    margin-left: var(--space-for-logo);
    flex-grow: 2;
}

#header__search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: baseline;
    width: 300px;
}

.header__searchitem {
    margin: 0 5px;
}

/***********************************
                NAVBAR
 ***********************************/

nav {
    background-color: #37393E;
}

ul {
    list-style-type: none;
}

.nav__menuitem a, footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav__menu, footer, .socialmedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nav__menu {
    margin: 0 20px 0 var(--space-for-logo);
}

.nav__menuitem, submenu_item{
    text-align: center;
    width: 8rem;
    height: 3rem;
    padding: 1rem 0 1rem 0;
}

.nav__menuitem:hover {
    background-color: #6D6D6D;
    font-weight: 500;
}

.nav__menuitem__submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    width: 8rem;
    background-color: inherit;
}

.nav__menuitem__submenuitem {
    height: auto;
    overflow: hidden;
    padding: 0.5rem 1vw;
    font-size: 0.7rem;
}

.nav__menuitem__submenuitem:hover {
    background-color: #FFFFFF;
    transition: ease-in;
    transition-duration: 0.5s;
}

.nav__menuitem__submenuitem:hover a {
    color: #000000;
    border-bottom-color: #C0996D;
    border-width: 0 0 2px 0;
    border-style: solid;
}

.nav__menuitem:hover .nav__menuitem__submenu {
    visibility: visible;
    position: relative;
    top: 0.7rem;
    left: 0;
}

 /***********************************
            Content
 ***********************************/

#content{
    background-color: #E5E5E5;
    grid-area: content;
    display: grid;
    grid-template-areas:
        "bignew" 
        "matches" "posts"
        "other" ;
    grid-template-columns: 1fr 4fr;
    width: 100%;
}

/***********************************
            Big New
 ***********************************/
#bignew {
    grid-area: "bignew";
    grid-column: span 2;
}

.bignew__card {
    background-image: url("../imgs/pexels-mica-asato-1198174.jpg");
    background-position:top;
    background-size: cover;
    height: 20rem;
}

/***********************************
            Matches
 ***********************************/
/*IMPORTANT for grid-area to work, the area name should be between "" */
#matches {
    grid-area: "matches";
}

.matches__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    overflow: hidden;
}

.matches__match {
    background-color: #000;
    color: darkgoldenrod;
    vertical-align: top;
    text-align: left;
    padding: 1rem 1rem 1rem 1rem;
    min-width: 12rem;
}

#matches__nextmatch {
    color: #C5BA3A;
}

/***********************************
            Posts
 ***********************************/

#posts {
    grid-area: "posts";
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    column-gap: 40px;
    margin: 2vh 20px 2vh 40px;
    width: 95%;
}
.posts__post h2 {
    color: #424949;
    line-height: 2;
    font-size: 1.2rem;
    font-style: bold;
    text-transform: capitalize;
}

.posts__post h3 {
    line-height: 1.5;
    font-size: 1rem;
    text-transform: initial;
}

.posts__post p {
    text-indent: 1rem;
}

.post__image {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.post__image img {
    width: 80%;
}
/***********************************
            Footer
 ***********************************/

footer{
    grid-area: footer;
    display: flex;
    display: row;
    align-items: flex-start;
    
    padding: 1vh;
    background-color: #37393E;
}

footer a {
    font-size: 0.7rem;
}

.footercolumn {
    width: auto;
    margin: 1vh 5%;
}

.footertext{
    color: #FFFFFF;
    font-weight: bold;
    margin: 1vh 0vh;
}

#socialmedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.socialmedia li {
    margin: 4px 4px 0 0;
}

.socialmedia a {
    color: #FFFFFF;
}

#header_image{
    background-image: url("../imgs/contact_image.jpg");
    background-size: cover;
    width: 100%;
    height: 20rem;
}