* {
    /* this even hides the bullet from lists!*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

#teamname {
    font-size: xx-large;
    color: darkgoldenrod;
    text-align: center;
}

nav {
    background-color: #37393E;
}

ul a {
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover{
    background-color: #6D6D6D;
}

nav a:active{
    background-color: #C0996D;
}

.content{
    background-color: #E5E5E5;
}

.post h1{
    color: #424949;
    line-height: 2;
    font-size: 1.2rem;
    font-style: bold;
    text-transform: capitalize;
}

.post h2{
    line-height: 1.5;
    font-size: 1rem;
    text-transform: initial;
}

.post p{
    text-indent: 1rem;
}

#nextmatch{
    color: #C5BA3A;
}

.matches{
    color: darkgoldenrod;
}

.socialmedia li{
    display: inline;     
}

.footertext{
    color: #FFFFFF;
    font-weight: bold;
}

footer{
    background-color: #37393E;
}

footer a {
    font-size: 0.5rem;
}