/***********************************
            CONTACT
 ***********************************/

 #header_image{
    background-image: url("../imgs/contact_image.jpg");
    background-size: cover;
    width: 100%;
    height: 20rem;
}

