* {
    /* this even hides the bullet from lists!*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

p {
    margin: 0;
}

/***********************************
            Grid
 ***********************************/

.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

/***********************************
            Flex
 ***********************************/

.row-wrap {
    display: flex;
    flex-flow: row wrap;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}
